altgraph==0.17
applicationinsights==0.11.10
astroid==2.4.2
autopep8==1.5.6
backcall==0.2.0
backports.csv==1.0.7
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
cli-helpers==0.2.3
Click==7.0
colorama==0.4.4
configobj==5.0.6
decorator==5.0.7
enum34==1.1.10
future==0.18.2
greenlet==1.1.1
humanize==3.11.0
idna==3.2
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
mssql-cli==1.0.0
parso==0.8.2
pefile==2021.5.24
pickleshare==0.7.5
praw==7.4.0
prawcore==2.3.0
prompt-toolkit==2.0.10
pycodestyle==2.7.0
Pygments==2.8.1
pyinstaller==4.5
pyinstaller-hooks-contrib==2021.2
pylint==2.6.0
python-dateutil==2.8.1
pywin32==300
pywin32-ctypes==0.2.0
pyzmq==22.0.3
requests==2.26.0
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.23
sqlparse==0.2.4
terminaltables==3.1.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
update-checker==0.18.0
urllib3==1.26.6
wcwidth==0.2.5
websocket-client==1.1.0
wrapt==1.12.1
